<div class="row">
    <div class="title"> <a href="{{ url }}">{{ title }}</a> </div>
    <div class="author"> {{ author }} </div>
    <div class="publishDate"> {{ publishDate }} </div>
    <div class="publisher"> {{ publisher }} </div>
    <div class="topic"> {{ topic }} </div>
    {% if annotation %}<div class="annotation message"> <strong>Annotation : </strong>{{ annotation }} </div>{% endif %}
    <div class="action-links"> <a href="{{ base_url }}/add/annotation/{{ docid }}/{{ server }}/{{ keyword }}" class="use-ajax add-annotation-form" data-dialog-type="modal">Add Annotation</a> </div>

</div>

